#job_edu span {
    background-color: aliceblue;
    margin: 0 0 0 20px;
}

#job_edu span:hover {
    color: white;
}

.auto_hidden {
    display: none;
}

label {
    margin-left: 15px;
    margin-top: 15px;
}